        <!DOCTYPE web-app PUBLIC
                "-//Oracle Corporation//DTD Java EE 6 Web Application//EN"
                "http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                >
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>com.java.Servlets.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
</web-app>

